# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Virtual environments
.venv
venv/

# Env files
.env
.env.*
!.env.example

# Test / coverage
.coverage
.coverage.*
.cache
htmlcov/
.pytest_cache/

# Type checkers
.mypy_cache/
.dmypy.json
.pyre/
.pytype/

# Ruff
.ruff_cache/

# IDE
.idea/
.vscode/

# macOS
.DS_Store
{% if include_tailwind %}
# Tailwind generated output
static/styles.css
{% endif %}
