{% include 'shared/pyproject/project.toml.jinja' %}dependencies = [
    "fastapi>=0.115.12",
{%- if include_html_templates %}
    "jinja2>=3.1.6",
{%- endif %}
{%- if include_config_setup %}
    "pydantic-settings>=2.11.0",
{%- endif %}
    "uvicorn>=0.34.2",
]

{% include 'shared/pyproject/build-system.toml' %}
[tool.uv.build-backend]
module-name = "app"
module-root = ""

[dependency-groups]
dev = [
    "httpx>=0.28.1",
    "pytest>=9.0.3",
    "ruff>=0.15.13",
    "ty>=0.0.37",
]

{% include 'shared/pyproject/ruff.toml' -%}
