name: Main

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
{%- if include_format_and_push %}
  contents: write
{%- else %}
  contents: read
{%- endif %}

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Install uv
      uses: astral-sh/setup-uv@v3

    - name: Set up Python
      run: uv python install

    - name: Install requirements
      run: uv sync
{% if include_format_and_push %}
    - name: Format
      run: make format

    - name: Push any changes
      run: |
        git config --global user.name 'github-actions[bot]'
        git config --global user.email '41898282+github-actions[bot]@users.noreply.github.com'

        if [[ `git status --porcelain` ]]; then
          git add src/*
          git add tests/*
          git commit -m "chore: code formatting"
          git push
        else
          echo "No changes to commit"
        fi
{% endif %}
    - name: Lint
      run: make lint

    - name: Test
      run: make test
