from fastapi import FastAPI{% if include_html_templates %}, Request
from fastapi.responses import HTMLResponse
from fastapi.staticfiles import StaticFiles
from fastapi.templating import Jinja2Templates

from app.routes import items{% endif %}

app = FastAPI()
{% if include_html_templates %}
app.include_router(items.router)
templates = Jinja2Templates(directory="templates")
app.mount("/static", StaticFiles(directory="static"), name="static")


@app.get("/")
async def main(request: Request) -> HTMLResponse:
    return templates.TemplateResponse(request=request, name="index.html")

{% endif %}

@app.get("/health")
async def health() -> dict:
    return {"status": "Healthy"}
