[project]
name = "{{project_name}}"
version = "0.1.0"
description = "{{project_description}}"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "rich>=15.0.0",
    "typer>=0.25.1",
{%- if include_config_setup %}    
    "pydantic-settings>=2.11.0",
{%- endif %}
]

[dependency-groups]
dev = [
    "pytest>=9.0.3",
    "ruff>=0.15.13",
    "ty>=0.0.37",
]

[tool.ruff]
line-length = 100
lint.select = [
    "ANN",
    "ARG",
    "B",
    "C4",
    "E",
    "F",
    "I",
    "ICN",
    "LOG",
    "N",
    "PERF",
    "PLC",
    "PLE",
    "PTH",
    "RET",
    "RSE",
    "RUF",
    "SIM",
    "TID",
    "UP",
    "W",
]

[tool.uv]
package = true

[project.scripts]
{{alias_name}} = "{{project_name}}.main:cli"

